@media (max-width: 768px){
    .header .nav-links{
        height: auto;
        flex-direction: column;
        align-items: center;
        padding: 0% 10px;
    }
    .container-img .galeria{
    display: none;
    display: flex;
    flex-direction: column;
    width: 95%;
    
}

}
