@import "../utilities/mixins";
footer{
    width: 100vw;
    height: auto;
    margin-top: auto;
    background-color: red;
}
footer .titulo-secion{
text-align: center;
font-size: 20px;
}
.redes-sociales{
margin-top: 45px;
font-size: 30px;
@include flex2();

}
.copy{
    margin-top: 70px;
    text-align: center;
}